[Unit]
Description=automodal-ccs-adapter
After=syslog.target

[Service]
Type=simple
WorkingDirectory=/home/automodal-ccs-adapter/automodal-ccs-adapter
ExecStart=/home/automodal-ccs-adapter/.local/bin/poetry run sudo python src/bridge/main.py --ccs --server
Environment=PYTHONUNBUFFERED=1
User=automodal-ccs-adapter
Group=automodal-ccs-adapter

SyslogIdentifier=automodal-ccs-adapter
StandardOutput=syslog
StandardError=syslog.
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target